:root {
  --bgcolor: #000;
  --secondary-color: #2821a2;
}

html, body {
  display: inline-block;
  color: white;
  background-color: var(--bgcolor);
  padding: 0px;
  margin:0px;
  scroll-behavior: smooth;
  font-family: 'helvetica';
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-family: silom;
}

.header {
  height: 80vh;
  background-color: var(--secondary-color);
}

nav {
  position: fixed;
  height: 3em;
  background-color: var(--bgcolor);
  width: 100vw;
}

nav ul {
  padding: 0px 3em 0px 3em;
}

ul{
  padding-left: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

li {
  list-style: none;
}

.lineup-list li:nth-of-type(1n+2) {
  margin-left: 0.5em;
}

.main-container {
  padding: 1.5em;
}