/* Setting up variables */

:root {
  --bgcolor: #000;
  --secondary-color: #cc363f;
}

html, body {
  display: inline-block;
  color: white;
  background-color: var(--bgcolor);
  padding: 0px;
  margin:0px;
  scroll-behavior: smooth;
  font-family: silom;
  text-transform: uppercase;
  text-align: center;
}


nav {
  position: fixed;
  font-family: silom;
  height: 3em;
  background-color: var(--bgcolor);
  width: 100%;
}

nav ul {
  padding: 0px 3em 0px 3em;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

ul{
  padding-left: 0;
  margin-left: 0;
  flex-flow: row wrap;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #999;
  transition: color 0.1s;
  text-decoration: none;
}

li {
  list-style: none;
  display: inline;
}

nav li {
  height: 2em;
}

nav li:hover {
  transition: font-size 0.2s;
  text-decoration: underline;
}

.header {
  height: 80vh;
  min-height: 30em;
  background-color: var(--secondary-color);
  background-image: url(images/logo.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.logo {
  overflow: hidden;
  display: flex;
}

.logo img {
  width: 100%;
  max-width: 50em;
  /*margin: -5%;*/
}

.buy-tickets {
  padding: 0.5em;
  background-color: black;
  width: 14em;
  color: white;
  border: 0.3em solid white;
  border-radius: 1em;
  margin-top: calc(80vh - 3em);
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.buy-tickets:hover {
  background-color: var(--secondary-color);
}


/*
.lineup-list li:nth-of-type(1n+2) {
  margin-left: 0.5em;
}

.lineup-list li:not(:last-child):after {
  content: "\0020\2027\0020"
}

*/

/* Creates bullets between items & limits the number of rows to 4 */
.lineup-list li:not(:first-child):before {
  content:  " \B7  ";
}

.lineup-list li:nth-child(4n):before {
  content: "\A";
  white-space: pre;
}

/* fixes shrinking issue caused by above code*/

.lineup-sec {
  width: 100%;
  padding: 4em 0 25em 0;
  background-image: url(images/audience-concert-crowd-1387174.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  /*filter: grayscale(100%);*/
  background-size: 100%;
}

.lineup-sec li {
  text-shadow: #000 0px 2px 5px;
}

.main-container {
  min-width: vw;
  padding: 1.5em;
}

.icons {
  /*font-size: 1.1em;*/
  width: 20%;
  justify-content: space-between;
  display: flex;
}
/*
i:hover {
  transition: font-size 0.2s;
  font-size: 1.2em;
}
*/

.band-sec h2::before {
  content: "\2027\2027\0020";
}

.band-sec h2::after {
  content: "\0020\2027\2027";
}

.popular {
  font-size: 1.5em;
}


.colored-background {
  padding: 1em 7em 2em 7em;
  background-color: var(--secondary-color)
}

.spotify {
  background-image: url(images/sergio-ruiz-589221-unsplash.jpg);
  background-position: center center;
  background-size: 100%;
  padding: 5em;
}

input {
  font-family: inherit;
  font-size: inherit;
}


.button-text {
  width: 30em;
  height: 3em;
  border: none;
  margin-right: 3em;
  margin-top: 3em;
  padding-left: 2em;
}

.button {
  padding: 0.5em;
  background-color: black;
  font-family: inherit;
  width: 14em;
  text-transform: uppercase;
  color: white;
  border: 0.3em solid white;
  border-radius: 1em;
}

.sponsor {
  display: flex;
}

.sponsor-box {
  width: 50%;
  padding: 5em;
}

.footer {
  display: flex;
  justify-content: space-between;
}
